body {
    background-color: #000000;
    color: #ffffff;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

header, main, footer {
    margin: 20px auto;
    max-width: 800px;
}

.intro {
    display: flex;
    align-items: center;
    justify-content: center;
}

.portfolio-photo {
    width: 150px;
    height: auto;
    border-radius: 50%;
    margin-right: 20px;
}

.project-screenshot {
    width: 100%;
    max-width: 700px;    /* Limits the width */
    max-height: 500px;   /* Limits the height */
    height: auto;
    display: block;
    margin: 10px auto;
    object-fit: contain; /* Ensures the image keeps its aspect ratio */
}

a {
    color: #1e90ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    border: 1px solid #ffffff;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #1e1e1e;
}

/* Footer Link Styles */
.footer-link {
    color: #1e90ff;
    text-decoration: none;
}

.footer-link:hover {
    text-decoration: underline;
}

/* Modal Styles */
.modal-content {
    color: #000000; /* Set the text color to black */
}